<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a href="/"
        ><img src="assets/icons/review-icon.png" height="40" class="mr-2"
      /></a>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button pRipple styleClass="p-button-rounded" (click)="login()" *ngIf="!isLoggedIn">Login</p-button>
      <p-button pRipple styleClass="p-button-rounded" (click)="logout()" *ngIf="isLoggedIn">Logout</p-button>
      &nbsp;
      <p-button pRipple styleClass="p-button-rounded" routerLink="/register" *ngIf="!isLoggedIn">Register</p-button>
    </ng-template>
  </p-menubar>
</div>
