<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a href="/"
        ><img src="assets/icons/review-icon.png" height="40" class="mr-2"
      /></a>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button
        pRipple
        styleClass="p-button-rounded p-button-raised p-button-text"
        (click)="login()"
        *ngIf="!isLoggedIn"
        ><span class="font-bold">Login</span>
      </p-button>
      <p-button
        pRipple
        styleClass="p-button-rounded p-button-raised p-button-text"
        (click)="logout()"
        *ngIf="isLoggedIn"
        >
        <span class="font-bold">Logout</span></p-button
      >
      &nbsp;
      <p-button
        pRipple
        styleClass="p-button-rounded p-button-raised p-button-text"
        routerLink="/register"
        *ngIf="!isLoggedIn"
        >
        <span class="font-bold">Register</span></p-button
      >
    </ng-template>
  </p-menubar>
</div>
