<div class="h-20 bg-purple-700 text">
  <table class="table-fixed w-full">
    <tr>
      <td class="w-20">
        <a href="/"> <img class="h-19" src="assets/icons/review-icon.png" /></a>
      </td>
      <td class="flex justify-center">
        <span *ngIf="isLoggedIn">Welcome, {{displayName}}</span>
      </td>
      <td class="w-60 bg-purple-200">
        <div class="flex justify-center">
          <button (click)="login()" *ngIf="!isLoggedIn">Login</button>
          <button (click)="logout()" *ngIf="isLoggedIn">Logout</button>
          &nbsp;
          <button routerLink="/register" *ngIf="!isLoggedIn">Register</button>
        </div>
      </td>
    </tr>
  </table>
</div>
