<div
  class="border block rounded-lg bg-neutral-700 p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
>
  <h5 class="mb-2 text-xl font-bold leading-tight">
    {{ review.title }} (Rating: {{ review.rating }})
  </h5>
  <table class="table-fixed border border-collapse w-full">
    <th>
      <tr>
        <td class="pl-2 py-2">Rental details:</td>
      </tr>
    </th>
    <tbody>
      <tr class="border border-b-0">
        <td class="pl-2 py-2">
          <span class="font-bold">Rental Cost</span>: ${{
            review.monthlyRentalCost
          }}
        </td>
        <td class="">
          <span class="font-bold">Floor</span>: {{ review.floor }}
        </td>
      </tr>
      <tr class="border border-y-0">
        <td class="pl-2 py-2">
          <span class="font-bold">Apartment Floor Area</span>:
          {{ review.apartmentFloorArea }}
        </td>
        <td class="">
          <span class="font-bold">Rental Floor Area</span>:
          {{ review.rentalFloorArea }}
        </td>
      </tr>
      <tr class="border border-y-0">
        <td class="pl-2 py-2">
          <span class="font-bold">Furnishings</span>:
          {{ review.furnishings }}
        </td>
        <td class="">
          <span class="font-bold">Shared bathroom</span>:
          {{ review.sharedToilet }}
        </td>
      </tr>
      <tr class="border border-y-0">
        <td class="pl-2 py-2">
          <span class="font-bold">Rules</span>:
          {{ review.rules }}
        </td>
        <td class="">
          <span class="font-bold">Total occupants</span>:
          {{ review.occupants }}
        </td>
      </tr>
      <tr class="border border-y-0">
        <td class="pl-2 py-2">
          <span class="font-bold">Rental start date</span>:
          {{ review.rentalStartDate | ddMMyyyy }}
        </td>
        <td class="">
          <span class="font-bold">Rental duration</span>:
          {{ review.rentalDuration }}
        </td>
      </tr>
    </tbody>
  </table>
  <p class="my-4 text-base text-neutral-600 dark:text-neutral-200">
    <span class="font-bold">Comments</span>: {{ review.comments }}
  </p>
  <table class="w-full">
    <tr>
      <td>
        <span class="font-bold">Reviewed by</span>:
        {{ review.user.displayName }}
      </td>
    </tr>
    <tr>
      <td>
        {{ review.createdDate | customDate }}
        <div *ngIf="review.createdDate != review.updatedAt">
          (last modified: {{ review.updatedAt | customDate }})
        </div>
      </td>
      <td>
        <button
          [routerLink]="['/updatereview']"
          [queryParams]="{ reviewId: review.id }"
        >
          Edit
        </button>
      </td>
    </tr>
  </table>
</div>
