<div class="flex flex-col items-center background text" *ngIf="property">
  <div class="w-5/6">
    <h1 class="py-10 text-5xl font-bold dark">Property Details</h1>
    <table class="table-fixed w-full">
      <tr>
        <td class="flex flex-col items-center">
          <img class="h-80 w-80" [src]="property.images" />
          <button
            class="my-2 mx-20"
            (click)="addPropertyImage(property.building)"
          >
            Add image
          </button>
        </td>
        <td class="p-3">
          <div>
            <span class="font-bold">Address:</span> {{ property.blkNo }}
            {{ property.roadName }} Singapore {{ property.postal }}
          </div>
          <div>
            <span class="font-bold">Building/Estate Name:</span>
            {{ property.building }}
          </div>
          <div class="my-5"><button [routerLink]="['/reviewform']">Write a review!</button></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="w-5/6">
    <h1 class="pt-2 text-2xl font-bold dark">Latest reviews for property:</h1>
    <div *ngIf="reviewList.length; else noReviews">
      <app-reviews-list [reviewList]="reviewList"></app-reviews-list>
    </div>
    <ng-template #noReviews>
      <p class="m-5">No reviews found.</p>
    </ng-template>
  </div>

  <div><button (click)="back()">Back to search results</button></div>
</div>
