<div
class="flex flex-col snap-start items-center background text"
 *ngIf="property">
<div>
    <h1 class="py-10 flex text-5xl font-bold dark">Property Details</h1>
    <table>
        <tr>            
            <td><img  class="h-80 w-80" [src]="property.images"></td>
            <td>Address:</td>
            <td>{{property.blkNo}} {{property.roadName}} SINGAPORE {{property.postal}}</td>
        </tr>
    </table>
</div>
<div><button (click)="back()">Back to search results</button></div>
</div>
