<div class="flex flex-column justify-content-center" *ngIf="formGroup">
  <div><h1 class="text-center">Log in:</h1></div>
  <div class="flex justify-content-center">
    <form [formGroup]="formGroup">
      <table>
        <tbody>
          <tr>
            <td class="font-bold">Email:</td>
            <td><input class="text" type="email" formControlName="email" /></td>
          </tr>
          <tr>
            <td class="font-bold">Password:</td>
            <td>
              <input class="text" type="password" formControlName="password" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <p-button
              pRipple
              styleClass="p-button-rounded p-button-raised" (click)="processForm()" [disabled]="!formGroup.valid">
                Log in
              </p-button>
              <p-button
              pRipple
              styleClass="p-button-rounded p-button-raised p-button-secondary" routerLink="/">Cancel</p-button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
