<div class="flex flex-column justify-content-center" *ngIf="formGroup">
  <div><h1 class="text-center">Register:</h1></div>
  <div class="flex justify-content-center">
    <form [formGroup]="formGroup">
      <table>
        <tbody>
          <tr>
            <td class="font-bold">Email:</td>
            <td><input class="text" type="email" formControlName="email" /></td>
          </tr>
          <tr>
            <td class="font-bold">Password:</td>
            <td>
              <input class="text" type="password" formControlName="password" />
            </td>
          </tr>
          <tr>
            <td><span class="font-bold">Display Name </span> 
              <div class="font-italic">(max 30 characters, no spaces):</div> </td>
            <td>
              <input
                class="text"
                minlength="1"
                maxlength="30"
                onkeypress="return event.key !=' '"
                type="string"
                formControlName="displayName"
              />
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <p-button
                pRipple
                styleClass="p-button-rounded p-button-raised"
                (click)="processForm()"
                [disabled]="!formGroup.valid"
              >
                Submit
              </p-button>
              <p-button
              pRipple
              styleClass="p-button-rounded p-button-raised p-button-secondary" routerLink="/">Cancel</p-button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
