<table>
  <tr>
    <td>
      <h2 class="flex justify-center">
        Search for a location here
      </h2>
    </td>
  </tr>
  <tr>
    <td>
      <form [formGroup]="formGroup">
        <input
        class="text"  
        formControlName="searchVal"
          type="text"
          placeholder="Address / Postal Code"
        />
        &nbsp;
        <button
          type="submit"
          class="bg-purple-700 hover:bg-purple-900 font-bold py-2 px-4 rounded-full"
          (click)="searchAddress()"
          [disabled]="!formGroup.valid"
        >
          Search
        </button>
      </form>
    </td>
  </tr>
</table>
<div *ngIf="noResults">
  <span>No results found.</span>
</div>
