<table>
  <tr>
    <td>
      <h2 class="flex justify-center text-orange-200">
        Search for a location here
      </h2>
    </td>
  </tr>
  <tr>
    <td>
      <form [formGroup]="formGroup">
        <input
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          formControlName="searchVal"
          type="text"
          placeholder="Address / Postal Code"
        />
        &nbsp;
        <button
          type="submit"
          class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded"
          (click)="searchAddress()"
          [disabled]="!formGroup.valid"
        >
          Search
        </button>
      </form>
    </td>
  </tr>
</table>
